
.content-section{
  padding: 20px;
  width: 80%;

}
p-progressSpinner{
  position: absolute;
  left: 46%;
  top: 46%
}

.toast-message{
  padding: 5px;
  display: flex;
  flex-direction: column;

  border: 1px solid forestgreen;
  border-radius: 10px;
  box-shadow: 6px 1px  lightgreen;
}
